.hero{
  height: calc(100vh - 206px);
  background: url("../../../assets/images/bg-1.png") no-repeat center;
  background-size: cover;
}
.page{
  padding-bottom: 0;

  .hero__title {
    margin-bottom: 2rem;
  }

  .email {
    font-weight: 600;
    color: #cfa70f;
    font-size: 24px;
  }
}

@media all and (max-width: 768px) {
  .hero {
    display: block;
    height: calc(100vh - 171px);
  }
}
