.footer {
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  text-transform: uppercase;
  font-weight: 700;
  background: url("../../../../assets/images/background_waves.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
   &::before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: #008bb2;
     opacity: .9;
     z-index: 1;
   }
  .navbar {
    width: 100%;
    margin: 0;
    padding: 0 50px;
    z-index: 2;
    .nav-item {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      &.active{
        .nav-link{
          color: #ffd334;
        }
        .picture{
          span{
            color: #bf9601;
          }
        }
      }
      .picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          position: absolute;
          font-size: 1.4rem;
          font-weight: 600;
          color: #008bb2;

        }
      }
      .nav-link {
        color: #fff;
      }
      img {
        width: 30px;
        height: auto;
      }
    }
  }
}
.copyrights{
  background: #097593;
  padding-top: 10px;
  padding-bottom: 10px;
  p{
    margin: 0;
    color: #fff;
    text-align: left;
  }
  &__nav{
    display: flex;
    justify-content: end;
    margin-bottom: 0;
    .nav-link {
      color: #fff;
      margin-left: 20px;
      opacity: 0.8;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}
@media all and (max-width: 768px) {
  .footer{
    height: 75px;
    padding: 20px 0;
    a.nav-link {
      display: none;
    }
  }
  .copyrights p {
    text-align: center !important;
  }
}

@media all and (max-width: 576px) {
  .copyrights__nav {
    display: none;
  }
}
