<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="navbar">
          <li *ngFor="let item of nav"
              [routerLink]="[item.id]"
              [routerLinkActive]="'active'"
              class="nav-item" >
            <div class="picture">
              <img src="assets/images/shield.png" alt="shield">
              <span>{{item.title.charAt(0)}}</span>
            </div>
            <a class="nav-link">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="copyrights">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>© 2023 Waves World. All rights reserved.</p>
      </div>
      <div class="col-6">
        <ul class="copyrights__nav">
          <li [routerLink]="['terms-of-use']"><a class="nav-link">Terms Of Use</a></li>
          <li [routerLink]="['privacy-policy']"><a class="nav-link">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
