<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']" [routerLinkActive]="'active'">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <app-go-back-button></app-go-back-button>
</div>
