.header {
  box-shadow: 0 -1px 4px rgb(0 0 0 / 35%), 0 3px 7px rgb(0 0 0 / 15%);
  height: 85px;
  position: relative;
    .navbar {
      padding: 0;
      height: 100%;
      background-color: #FFFFFF !important;

      .container {
        background-color: #fff;
        padding: 0;
      }
      .navbar-collapse {
        z-index: 100000;
        background-color: #fff;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 60px;
        border-top: solid 1px #008bb3;
        transition-duration: 0s;

        .navbar-nav {
          height: 100%;

          .nav-item {
            white-space: nowrap !important;
            padding: 10px 10px 10px 15px;
            border-bottom: solid 1px #e5e5e5;
            .nav-link {
              white-space: nowrap;
            }
          }
        }

        &.show {
          display: block;
        }
      }
      &-brand {
        img {
          height: 50px;
          width: auto;

          margin: 10px auto;
        }
      }
      &-nav {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;

        .nav-item {
          padding: 24px;

          .nav-link:hover {
            color: #008bb2;
            // border-bottom: 6px solid #ababab;
          }
          .nav-link.active {
            color: #008bb2;
            // border-bottom: 6px solid #008bb2;
          }
        }
      }
    }
}



@media all and (max-width: 768px){
  .header{
    height: 60px;
    .container{
      .navbar {
        padding: 0;
        &-brand {
          img {
            height: 30px;
          }
        }
      }
    }
  }
}



@media all and (max-width: 768px){
  .dropdown.open {
    z-index: 999 !important;
    transform: none !important;
    top: 45px !important;
    width: calc(100vw - 20px) !important;
  }
  .search{
    margin: 0;
  }
  .locations{
    padding: 105px 10px 0;
  }
  .layout{
    top: 36px;
    right: 0;
  }
  .header{
    height: 60px;
    .container{
      .navbar {
        padding: 0;
        //flex-wrap: nowrap;
        &-brand {
          img {
            height: 24px;
            margin: 12px 0;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  .header{
    .container{
      .navbar {
        padding: 0;
        //flex-wrap: nowrap;

        .d-flex {
          width: 65%;
        }
      }
    }
  }
}

::ng-deep .menu-open .search {
  pointer-events: none;
}

.nav-item{
  white-space: nowrap !important;
}
