<app-header></app-header>
<app-loader *ngIf="!location"></app-loader>
<div *ngIf="location" class="page">
  <div class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <p class="hero__title">{{location.waveLocationName}}</p>
          <p class="hero__sub-title">{{location.waveLocationSlogan ? location.waveLocationSlogan : location.waveLocationAbout}}</p>
          <div class="hero__buttons">
            <a *ngIf="location.waveLocationReferralLink" href="{{location.waveLocationReferralLink}}" class="button">
              {{location.waveLocationBookingButtonText}}
            </a>
            <a *ngIf="location.waveLocationWebsite" target="_blank" href="{{location.waveLocationWebsite}}" class="button">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
      <!--<button class="hero__share button">
        SHARE WITH
      </button>-->
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-8">
          <div class="content__main">
            <div *ngIf="location.waveLocationAdditionalInfo" class="section">
              <h2 class="section__title">Description</h2>
              <div class="section__text" [innerHTML]="replaceURLs(location.waveLocationAdditionalInfo) | safe: 'html'"></div>
            </div>

            <!--<div *ngIf="!isPhoneScreen || isPhoneScreen && location.waves.length === 1" class="section section_waves">
              <div class="section__header">
                <h2 class="section__title section__title_bordered">Waves</h2>

                <div #dropdownToggle *ngIf="location.waves > 1" class="dropdown" (click)="onDropdown()">
                  <div class="text-box">{{location.waves[0].wave_name}}</div>
                  <div class="options">
                    <div *ngFor="let item of location.waves" (click)="onSelectWave(item.wave_name)">{{item.wave_name}}</div>
                  </div>
                </div>

                <div *ngIf="location.waves.length === 1" class="wavename">{{wave.wave_name}}</div>

                &lt;!&ndash;<select class="section__subtitle" [(ngModel)]="selectedWave" (ngModelChange)="onSelectWave($event)"  *ngIf="location.waves.length > 1">
                  <option *ngFor="let item of location.waves" [value]="item.wave_name">{{item.wave_name}}</option>
                </select>&ndash;&gt;
              </div>
              <div class="section__content">
                &lt;!&ndash;<h3 >{{wave.wave_name}}</h3>&ndash;&gt;
                <ul class="section__list section__list-vertical">
                  <li class="item" *ngIf="wave.wave_difficulty">
                    <strong>Wave difficulty:</strong> {{wave.wave_difficulty}}
                  </li>
                  <li class="item" *ngIf="wave.wave_shape">
                    <strong>Wave shape:</strong> {{wave.wave_shape}}
                  </li>
                  <li class="item" *ngIf="+wave.wave_height">
                    <strong>Wave height:</strong> {{wave.wave_height}} cm
                  </li>
                  <li class="item" *ngIf="+wave.wave_speed">
                    <strong>Wave speed:</strong> {{wave.wave_speed}} m/s
                  </li>
                  <li class="item" *ngIf="+wave.wave_frequency">
                    <strong>Wave frequency:</strong> {{wave.wave_frequency}} w/m
                  </li>
                  <li class="item" *ngIf="+wave.wave_width">
                    <strong>Wave width:</strong> {{wave.wave_width}} m
                  </li>
                  <li class="item" *ngIf="+wave.wave_length">
                    <strong>Wave length:</strong> {{wave.wave_length}} m
                  </li>
                  <li class="item" *ngIf="wave.wave_direction">
                    <strong>Wave direction:</strong> {{wave.wave_direction}}
                  </li>
                  <li class="item" *ngIf="+wave.wave_pump">
                    <strong>Wave pump:</strong> {{wave.wave_pump}}
                  </li>
                  <li class="item" *ngIf="wave.wave_system">
                    <strong>Wave system:</strong> {{wave.wave_system}}
                  </li>
                  <li class="item" *ngIf="+wave.waves_per_hour">
                    <strong>Waves per hour:</strong> {{wave.waves_per_hour}}
                  </li>
                  <li class="item" *ngIf="+wave.ride_duration">
                    <strong>Ride duration:</strong> {{wave.ride_duration}} s
                  </li>
                  <li class="item" *ngIf="+wave.customers_per_hour">
                    <strong>Max customers per hour:</strong> {{wave.customers_per_hour}}
                  </li>
                  <li class="item" *ngIf="+wave.customers_per_wave">
                    <strong>Max customers per wave:</strong> {{wave.customers_per_wave}}
                  </li>
                  <li class="item" *ngIf="+wave.tech_energy_consumption">
                    <strong>Energy Consumption:</strong> {{wave.tech_energy_consumption}} kWh
                  </li>
                  <li class="item" *ngIf="wave.commissioning_date">
                    <strong>Open since:</strong> {{getDate(wave.commissioning_date)}}
                  </li>
                  <li class="item" *ngIf="wave.status">
                    <strong>Status:</strong> {{wave.status}}
                  </li>
                  <li class="item" *ngIf="+wave.minimum_age">
                    <strong>Minimum age:</strong> {{wave.minimum_age}} years
                  </li>

                </ul>

                <ng-container *ngIf="isPricing(wave)">
                  <h3 class="section__subtitle">Pricing</h3>
                  <ul class="section__list section__list-single">
                    <li class="item" *ngIf="+wave.price_adult_high">
                      <strong>Price adult high:</strong> € {{wave.price_adult_high}}
                    </li>
                    <li class="item" *ngIf="+wave.price_adult_low">
                      <strong>Price adult low:</strong> € {{wave.price_adult_low}}
                    </li>
                    <li class="item" *ngIf="+wave.price_child_high">
                      <strong>Price child high:</strong> € {{wave.price_child_high}}
                    </li>
                    <li class="item" *ngIf="+wave.price_child_low">
                      <strong>Price child low:</strong> € {{wave.price_child_low}}
                    </li>
                    <li class="item" *ngIf="+location.board_rental">
                      <strong>Board rental / hr:</strong> € {{location.board_rental}}
                    </li>
                    <li class="item" *ngIf="+location.wetsuit_rental">
                      <strong>Wetsuit rental / hr:</strong> € {{location.wetsuit_rental}}
                    </li>
                  </ul>
                </ng-container>

                <ul class="section__list section__list-horizontal">
                  <li class="item" *ngIf="+wave.water_temp">
                    <img src="assets/icons/thermometer.png" alt="">
                    <div>
                      <strong>Water temperature</strong> <br>{{wave.water_temp}}&#8451;
                    </div>
                  </li>
                  <li class="item" *ngIf="wave.water_type">
                    <img src="assets/icons/water.png" alt="">
                    <div><strong>Water type</strong> <br>{{wave.water_type}}</div>
                  </li>
                  &lt;!&ndash;TODO: Water quality long string &ndash;&gt;
                  <li class="item" *ngIf="wave.water_quality">
                    <img src="assets/icons/water_quality.png" alt="">
                    <div><strong>Water quality</strong> <br>{{wave.water_quality.length < 20 ? wave.water_quality : 'Good'}}</div>
                  </li>
                  <li class="item" *ngIf="wave.recommended_wetsuite?.length">
                    <img src="assets/icons/wetsuit.png" alt="">
                    <div>
                      <strong>Recommended wetsuit:</strong><br>
                      <span *ngFor="let item of wave.recommended_wetsuite">{{item}} </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>-->

           <!-- <a *ngIf="isPhoneScreen && location.waves.length === 1" href="{{location.reflink}}" class="button" style="position:relative; margin: 0">
              {{location.book_now_button_caption}}
            </a>-->

            <div *ngIf="locationSpecifications && locationSpecifications.length >= 1" style="position:relative;">
              <ngx-slick-carousel class="carousel"
                                  #slickModal="slick-carousel"
                                  [config]="slideConfig">
                <div ngxSlickItem *ngFor="let wave of locationSpecifications" class="slide">
                  <div *ngIf="locationSpecifications.length" class="section section_waves">
                    <div class="section__header">
                      <h2 class="section__title section__title_bordered">Waves</h2>
                      <div class="wavename" [class.nomargin]="locationSpecifications.length < 2">
                        {{wave.waveSpecificationName}}
                      </div>
                    </div>
                    <div class="section__content">
                      <!--<h3 >{{wave.wave_name}}</h3>-->
                      <ul class="section__list section__list-vertical">
                        <li class="item" *ngIf="wave.waveSpecificationDifficulty">
                          <strong>Wave difficulty:</strong> {{wave.waveSpecificationDifficulty}}
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationWaveShape">
                          <strong>Wave shape:</strong> {{wave.waveSpecificationWaveShape}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWaveHeight">
                          <strong>Wave height:</strong> {{wave.waveSpecificationWaveHeight}} cm
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWaveSpeed!">
                          <strong>Wave speed:</strong> {{wave.waveSpecificationWaveSpeed}} m/s
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWaveFrequency!">
                          <strong>Wave frequency:</strong> {{wave.waveSpecificationWaveFrequency}} w/m
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWaveWidth!">
                          <strong>Wave width:</strong> {{wave.waveSpecificationWaveWidth}} m
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWaveLength!">
                          <strong>Wave length:</strong> {{wave.waveSpecificationWaveLength}} m
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationWaveDirection">
                          <strong>Wave direction:</strong> {{wave.waveSpecificationWaveDirection}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWavePump!">
                          <strong>Wave pump:</strong> {{wave.waveSpecificationWavePump}}
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationWaveSystem">
                          <strong>Wave system:</strong> {{wave.waveSpecificationWaveSystem}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationRidesPerHour">
                          <strong>Waves per hour:</strong> {{wave.waveSpecificationRidesPerHour}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationDurationRide">
                          <strong>Ride duration:</strong> {{wave.waveSpecificationDurationRide}} s
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationMaxCustomersPerHour">
                          <strong>Max customers per hour:</strong> {{wave.waveSpecificationMaxCustomersPerHour}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationMaxCustomersPerWave">
                          <strong>Max customers per wave:</strong> {{wave.waveSpecificationMaxCustomersPerWave}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationEnergyConsumption">
                          <strong>Energy Consumption:</strong> {{wave.waveSpecificationEnergyConsumption}} kWh
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationCommissioningDate">
                          <strong>Open since:</strong> {{getDate(wave.waveSpecificationCommissioningDate)}}
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationStatus">
                          <strong>Status:</strong> {{wave.waveSpecificationStatus}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationMinimumSurferAge">
                          <strong>Minimum age:</strong> {{wave.waveSpecificationMinimumSurferAge}} years
                        </li>
                        <!--<li class="item" *ngIf="+wave.waveSpecificationBoardIncluded">
                          <strong>Board included:</strong> {{wave.waveSpecificationBoardIncluded}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationWetSuiteIncluded">
                          <strong>Wetsuit included:</strong> {{wave.waveSpecificationWetSuiteIncluded}}
                        </li>-->
                        <li class="item" *ngIf="+wave.waveSpecificationVideoRecordingPriceSession">
                          <strong>Session video price / hr</strong> {{wave.waveSpecificationVideoRecordingPriceSession}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationVideoRecordingPriceSession">
                          <strong>Session video price / hr</strong> {{wave.waveSpecificationVideoRecordingPriceSession}}
                        </li>
                        <li class="item" *ngIf="+wave.waveSpecificationPhotoPriceSession">
                          <strong>Session photo price / hr</strong> {{wave.waveSpecificationPhotoPriceSession}}
                        </li>
                      </ul>

                      <ng-container *ngIf="isPricing(wave)">
                        <h3 class="section__subtitle">Pricing</h3>
                        <ul class="section__list section__list-single">
                          <li class="item" *ngIf="+wave.waveSpecificationPriceAdultHigh">
                            <strong>Price adult high:</strong> € {{wave.waveSpecificationPriceAdultHigh}}
                          </li>
                          <li class="item" *ngIf="+wave.waveSpecificationPriceAdultLow">
                            <strong>Price adult low:</strong> € {{wave.waveSpecificationPriceAdultLow}}
                          </li>
                          <li class="item" *ngIf="+wave.waveSpecificationPriceChildHigh">
                            <strong>Price child high:</strong> € {{wave.waveSpecificationPriceChildHigh}}
                          </li>
                          <li class="item" *ngIf="+wave.waveSpecificationPriceChildLow">
                            <strong>Price child low:</strong> € {{wave.waveSpecificationPriceChildLow}}
                          </li>
                          <li class="item" *ngIf="+wave.waveSpecificationBoardRentalHr">
                            <strong>Board rental / hr:</strong> € {{wave.waveSpecificationBoardRentalHr}}
                          </li>
                          <li class="item" *ngIf="+wave.waveSpecificationWetsuitRentalHr">
                            <strong>Wetsuit rental / hr:</strong> € {{wave.waveSpecificationWetsuitRentalHr}}
                          </li>
                        </ul>
                      </ng-container>

                      <ul class="section__list section__list-horizontal">
                        <li class="item" *ngIf="+wave.waveSpecificationWaterTemp">
                          <img src="assets/icons/thermometer.png" alt="">
                          <div>
                            <strong>Water temperature</strong> <br>{{wave.waveSpecificationWaterTemp}}&#8451;
                          </div>
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationWaterType">
                          <img src="assets/icons/water.png" alt="">
                          <div><strong>Water type</strong> <br>{{wave.waveSpecificationWaterType}}</div>
                        </li>
                        <!--TODO: Water quality long string -->
                        <li class="item" *ngIf="wave.waveSpecificationWaterQuality">
                          <img src="assets/icons/water_quality.png" alt="">
                          <div><strong>Water quality</strong> <br>{{wave.waveSpecificationWaterQuality.length < 20 ? wave.waveSpecificationWaterQuality : 'Good'}}</div>
                        </li>
                        <li class="item" *ngIf="wave.waveSpecificationRecommendedWetSuite?.length">
                          <img src="assets/icons/wetsuit.png" alt="">
                          <div>
                            <strong>Recommended wetsuit:</strong><br>
                            <span *ngFor="let item of wave.waveSpecificationRecommendedWetSuite">{{item}} </span>
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>

              <button *ngIf="locationSpecifications.length >= 2" class="button-slider button-slider__next" (click)="next()">
                <img src="assets/icons/chevron-yellow.svg" alt="chevron">
              </button>
              <button *ngIf="locationSpecifications.length >= 2" class="button-slider button-slider__prev" (click)="prev()">
                <img src="assets/icons/chevron-yellow.svg" alt="chevron">
              </button>

            </div>

            <a *ngIf="isPhoneScreen && location.waveLocationReferralLink" href="{{location.waveLocationReferralLink}}" class="button" style="position:relative; margin: 0">
              {{location.waveLocationBookingButtonText}}
            </a>

            <div *ngIf="nearbyNaturalSpots?.length" class="section nearby-points">
              <h2 class="section__title">Nearby natural spots</h2>
                <google-map
                  width="100%"
                  height="400"
                  [zoom]="0"
                  [center]="coords"
                  [options]="options"
                >
                  <map-marker
                    #nearbySpot="mapMarker"
                    *ngFor="let spot of naturalSpotsMarkers"
                    [position]="spot.position"
                    [title]="spot.title"
                    [options]="spot.options"
                    (mapClick)="openInfo(nearbySpot, spot)"
                  >
                  </map-marker>
                  <map-info-window>
                    <div *ngIf="infoContent && infoContent.title">
                      <p class="marker__title">
                        <strong>{{infoContent.title}}</strong>
                      </p>
                      <p class="marker__label">{{infoContent.address}}</p>
                      <a [href]="infoContent.direction" class="marker__action" target="_blank">GET DIRECTIONS</a>
                    </div>
                  </map-info-window>
                </google-map>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="content__side">
            <google-map
              width="100%"
              height="300"
              [zoom]="zoom"
              [center]="coords"
              [options]="options"
            >
              <map-marker
                [position]="marker.position"
                [title]="marker.title"
                [options]="marker.options"
              >
              </map-marker>
            </google-map>
            <div *ngIf="location?.waveLocationVisitAddress?.address" class="mt-4 address">
              <a target="_blank" [href]="'https://www.google.com/maps/dir/?api=1&destination=' + (location.waveLocationVisitAddress && location.waveLocationVisitAddress.lat && location.waveLocationVisitAddress.lng ? location.waveLocationVisitAddress.lat + ',' + location.waveLocationVisitAddress.lng : '') + '&travelmode=driving'"> {{location.waveLocationVisitAddress.address}}</a>
            </div>

            <div class="section mt-4" *ngIf="specificationInfo && (specificationInfo.product.name || specificationInfo.productionMethod.name || specificationInfo.manufacturer.name)">
              <h2 class="section__title">Main Information</h2>
              <div class="section__text">
                <div class="d-flex justify-content-between align-items-end">
                  <span>Amout Of Waves: </span><span>{{locationSpecifications.length}}</span>
                </div>
                <div class="d-flex justify-content-between flex-column" *ngIf="specificationInfo && specificationInfo.product.name">
                  <span>Product: </span><span>{{specificationInfo.product.name}}</span>
                </div>
                <div class="d-flex justify-content-between flex-column" *ngIf="specificationInfo && specificationInfo.productionMethod.name">
                  <span>Production Method: </span><span>{{specificationInfo.productionMethod.name}}</span>
                </div>
                <div class="d-flex justify-content-between flex-column" *ngIf="specificationInfo && specificationInfo.manufacturer.name">
                  <span>Manufacturer: </span><span>{{specificationInfo.manufacturer.name}}</span>
                </div>
                <!--<div class="d-flex justify-content-between align-items-end" *ngIf="+location.session_photo_price">
                  <span>Session photo price / hr</span><span>€{{location.session_photo_price}}/hour</span>
                </div>-->
                <!--<div class="d-flex justify-content-between align-items-end" *ngIf="+location.wave_specifications">
                  <span>Wave specifications</span><span>{{location.wave_specifications}}</span>
                </div>-->
                <!--<div class="d-flex justify-content-between align-items-end" *ngIf="+location.board_included">
                  <span>Board included</span><span>{{location.board_included}}</span>
                </div>-->
                <!--<div class="d-flex justify-content-between align-items-end" *ngIf="+location.wetsuit_included">
                  <span>Wetsuit included</span><span>{{location.wetsuit_included}}</span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
