.hero{
  height: calc(100vh - 206px);
  background: url("../../../assets/images/bg-1.png") no-repeat center;
  background-size: cover;

  .container {
    .row {
      padding: 5rem 0;
    }
  }
}
.page{
  padding-bottom: 0;
}
.button {
  position: relative;
  background-color: #ffd333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 1.2;
  display: inline-block;
  margin: 20px 14px 0 0;

  &-green {
    background-color: #0b9644;
  }

  &__remark {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(133%);
    font-weight: 500;
    font-size: 14px;
  }
}

.content {
  padding: 70px 0 30px;
  display: flex;
  gap: 1rem;
  .get-direction {
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
  }
  ::ng-deep{
    a {
      font-weight: 600;
      color: #cfa70f;
      font-size: 16px;
    }
  }
  &__main {

  }
  &__side {
    position: sticky;
    top: 0;
    right: 0;

    padding-top: 30px;
    margin-top: -30px;
  }
}

.section {
  border-radius: 20px;
  box-shadow: 0 2px 10px #0000001a;
  padding: 25px 30px;
  margin-bottom: 2rem;
  &_waves{
    background: url("../../../assets/images/bg-1.png") no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
   &:before{
     content: "";
     background: rgb(0 77 101 / 80%);
     position: absolute;
     //z-index: 1;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
   }

    .section {
      &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background: rgba(4, 71, 93, .3);
        padding: 30px 35px;
        margin: -25px -30px;
      }
    }
    .section{
      &__header,
      &__content{
        position: relative;
        //z-index: 2;
      }
      &__title,
      &__subtitle{
        color: #fff;
      }
      &__list{
        .item{
          color: #fff;
          &::before{
            color: #ffd334;
          }
        }
      }
    }
  }
  &_waves-light {
    background: none;
    &:before{
      content: "";
      background: rgb(0, 77, 101);
      position: absolute;
      //z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .section__header {
      background: rgb(0 57 75);
    }
  }
  &__title {
    color: #00465a;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 15px;
    &_bordered{
      margin: 0;
    }
    &-mobile {
      font-size: 24px;
      font-weight: 700;
      display: none;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #00465a;
    margin: 0;
  }
  &__list {
    padding: 0;
    margin-bottom: 2rem;
    .item {
      font-size: 16px;
      padding: 8px 0;
       img {
         width: 2rem;
       }
    }
    &-vertical, &-single {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5%;

      margin: 3rem 0 2rem;

      .item {
        &::before {
          content: '➔';
          color: #154360;
          margin-right: 5px;
        }
      }
    }
    &-horizontal {
      display: flex;
      gap: 2rem;
      margin: 0 -30px -30px;
      padding: 15px 30px 20px;
      background: rgba(0, 22, 29, 0.3);
      .item{
        font-size: 16px;
        padding: 8px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4){
          img{
            margin-right: 15px;
          }
        }
        strong{
          display: inline-block;
          margin-bottom: 3px;
        }
        img{
          margin-right: 5px;
        }
      }
    }
    &-single {
      grid-template-columns: 1fr;
      margin: 2rem 0;
    }
  }
  &__text {
    line-height: 1.75;
    font-size: 18px;
    color: #00465a;
    div {
      span {
        &:nth-of-type(1) {
          font-weight: 600;
        }
        &:nth-of-type(2) {
          font-size: 16px;
        }
      }
    }
  }
}

.nearby-points {
  width: 100%;
  google-map{
    border-radius: 0;
  }
}

.marker{
  &__label{
    font-size: 14px;
    margin-bottom: 8px;
    color: #c2a026;
  }
  &__title{
    font-size: 16px;
    margin: 10px 0 10px;
    font-weight: 600;
    color: #0b4871;
    max-width: 320px;
    line-height: 18px;
    strong{
      cursor: pointer;
      font-weight: 600;
      color: #008bb2;
    }
  }
  &__action{
    font-weight: 600;
    text-decoration: none;
    background: #008bb2;
    padding: 8px 16px;
    display: inline-block;
    color: #fff !important;
    border-radius: 7px;
    font-size: 13px;
    margin: 0;
  }
}

.button-slider {
  position: absolute;
  top: 26px;
  background: rgba(255, 255, 255, .4);
  border-radius: 8px;
  padding: 3px;
  &__prev{
    right: 55px;
    transform: rotate(180deg);
  }
  &__next{
    right: 2%;
  }
  img {
    height: 25px;
    width: 25px;
  }
}

.wavename {
  color: #fff;
  font-weight: 900;
  margin-right: 60px;
}

:host {
  ::ng-deep {
    .map-container {
      border-radius: 20px !important;
    }
  }
}
.address{
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #00465a;
}

select {
  background: transparent;
  border: none;
  margin-bottom: 8px;
  outline: none;
}

@media all and (max-width: 768px) {
  .section__list-horizontal {
    flex-wrap: wrap;
  }
  .content__side {
    padding-top: 60px;
  }
  .button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #fff !important;
    z-index: 100;
  }
  .section__title-mobile {
    display: block;
  }
}


.dropdown {
  position: relative;
  width: 300px;
  height: 50px;
  font-weight: 900;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    transition: 0.5s;
    pointer-events: none;
  }
}

.dropdown.active::before {
  top: 16px;
  transform: rotate(315deg);
}

.dropdown .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 5px 20px;
  border-radius: 10px;
}

.dropdown .options {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #475760;
  color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  z-index: 100;
}

.dropdown.active .options {
  display: block;
}

.dropdown .options div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .options div:hover {
  background: #5c7b8c;
  color: #fff;
}
.nomargin{
  margin: 0;
}

.mobile-version{
  .hero-mobile{
    background: url("../../../assets/images/bg-1.png") no-repeat center;
    background-size: cover;
    padding: 40px 24px 24px;
    margin-top: 50px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.4);
      z-index: 1;
    }
    &__title{
      text-align: center;
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 24px;
      margin: 0 0 10px 0;
    }
    &__sub-title{
      text-align: center;
      position: relative;
      z-index: 2;
      color: #fff;
      margin: 0;
      font-size: 16px;
      opacity: 0.8;
    }
    &__buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .button{
        position: relative;
        margin: 24px 8px 16px;
        padding-left: 0;
        padding-right: 0;
        &:first-child{
          color: #084955 !important;
          font-weight: 600;
          border: solid 1px #ffd334;
          &.button-green{
            font-weight: 600;
            border: solid 1px #5d960744;
            color: #fff !important;
            background: #5d9607;
            padding: 5px 0 15px;
            .button__remark{
              position: absolute;
              bottom: 3px !important;
              display: block;
              font-weight: 400;
              left: 0;
              right: 0;
              text-align: center;
              opacity: 0.8;
              font-size: 10px;
              transform: inherit;
            }
          }
        }
        &:last-child{
          background: rgba(255, 211, 52, .2);
          border: solid 1px #ffd334;
          color: #fed332 !important;
        }
      }
    }
  }
  .information {
    padding: 20px 20px 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #00627d;
      position: relative;
      span{
        position: absolute;
        top: -2px;
        font-weight: 600;
        right: -3px;
        swg{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: dashed 1px #dddfe1;
      padding: 4px 0;
      color: #00627d;
      &:last-child{
        border: none !important;
      }
      &_green{
        span{
          color: #5d9608 !important;
        }
      }
      span{
        line-height: 1;
        &:first-child{
          white-space: nowrap;
          margin-right: 12px;
        }
        &:last-child{
          text-align: right;
        }
        color: #008bb1;
      }
    }
  }
  .description {
    padding: 20px 20px 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #00627d;
      position: relative;
      span{
        position: absolute;
        top: -2px;
        font-weight: 600;
        right: -3px;
        swg{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__content{
      ::ng-deep .youtube iframe {
        height: 170px;
      }
    }
  }
  .products {
    padding: 20px 20px 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #00627d;
      position: relative;
      span{
        position: absolute;
        top: -2px;
        font-weight: 600;
        right: -3px;
        swg{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__content{
      ::ng-deep .youtube iframe {
        height: 170px;
      }
    }
    .link{
      color: #5d9608 !important;
    }
    .product{
      &__counter{}
      &__btns{}
      &__next{}
      &__prev{}
      &__ctrl{
        color: #03627d;
      }
      &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 600;
        font-size: 16px;
        color: #c89f0d;
        position: relative;
        padding: 10px 0;
        border-bottom: dashed 1px #03627d;
      }
      &__subtitle{
        margin: 10px 0;
        font-weight: 600;
        font-size: 16px;
        color: #c89f0d;
        position: relative;
        padding: 10px 0;
        border-bottom: dashed 1px #03627d;
      }
      &__item{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: dashed 1px #dddfe1;
        padding: 4px 0;
        color: #00627d;
        &:last-child{
          border: none !important;
        }
        &_green{
          span{
            color: #5d9608 !important;
          }
        }
        span{
          line-height: 1;
          &:first-child{
            white-space: nowrap;
            margin-right: 12px;
          }
          &:last-child{
            text-align: right;
          }
          color: #008bb1;
        }
      }
    }
  }
  .waves {
    padding: 20px 20px 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #00627d;
      position: relative;
      span{
        position: absolute;
        top: -2px;
        font-weight: 600;
        right: -3px;
        swg{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__content{
      ::ng-deep .youtube iframe {
        height: 170px;
      }
    }
    .wave{
      &__counter{}
      &__btns{}
      &__next{}
      &__prev{}
      &__ctrl{
        color: #03627d;
      }
      &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 600;
        font-size: 16px;
        color: #c89f0d;
        position: relative;
        padding: 10px 0;
        border-bottom: dashed 1px #03627d;
      }
      &__subtitle{
        margin: 10px 0;
        font-weight: 600;
        font-size: 16px;
        color: #c89f0d;
        position: relative;
        padding: 10px 0;
        border-bottom: dashed 1px #03627d;
      }
      &__item{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: dashed 1px #dddfe1;
        padding: 4px 0;
        color: #00627d;
        &:last-child{
          border: none !important;
        }
        &_green{
          span{
            color: #5d9608 !important;
          }
        }
        span{
          line-height: 1;
          &:first-child{
            white-space: nowrap;
            margin-right: 12px;
          }
          &:last-child{
            text-align: right;
          }
          color: #008bb1;
        }
      }
    }
  }
  .water {
    padding: 20px 20px 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      color: #00627d;
      position: relative;
      span{
        position: absolute;
        top: -2px;
        font-weight: 600;
        right: -3px;
        swg{
          width: 20px;
          height: 20px;
        }
      }
    }
    &__content{
      ::ng-deep .youtube iframe {
        height: 170px;
      }
    }
    .link{
      color: #5d9608 !important;
    }
    .water{
      &__item{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: dashed 1px #dddfe1;
        padding: 4px 0;
        color: #00627d;
        img{
          width: 10px;
        }
        &:last-child{
          border: none !important;
        }
        &_green{
          span{
            color: #5d9608 !important;
          }
        }
        span{
          line-height: 1;
          &:first-child{
            white-space: nowrap;
            margin-right: 12px;
          }
          &:last-child{
            text-align: right;
          }
          color: #008bb1;
        }
      }
    }
  }
}
i{
  font-style: normal;
}
.get-direction {
  display: block;
  background: #008bb1;
  text-align: center;
  color: #fff;
  margin: 10px 0 0;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 1.2;
  &:hover{
    background: #006a85;
  }
}
@media all and (max-width: 768px) {
  :host {
    ::ng-deep {
      .map-container {
        margin: 15px -20px -10px -20px;
        border-radius: 0 0 5px 5px !important;
        width: calc(100% + 40px) !important;
      }
    }
  }
  ::ng-deep .location-details{
    .go-back{
      bottom: -40px !important;
    }
  }
}
