<app-loader *ngIf="isLoading"></app-loader>
<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="logo">
      </a>
      <div class="search">
        <img src="../../../assets/icons/search.svg" alt="">
        <input [typeahead]="data"
               (keyup)="onFilter($event)"
               (typeaheadOnSelect)="goToLocation($event)"
               [(ngModel)]="selected"
               [typeaheadScrollable]="true"
               [typeaheadOptionsInScrollableView]="5"
               typeaheadOptionField="waveLocationName"
               placeholder="Search..."
               [typeaheadItemTemplate]="customItemTemplate"
               class="form-control">

        <ng-template #customItemTemplate let-model="item" let-index="index">
          <h5>{{model.waveLocationName}}</h5>
        </ng-template>

      </div>
    </nav>
  </div>
</div>


<div *ngIf="!isLoading" class="page">
  <div class="control-panel" [class.list]="!isMap">
    <div class="container">
      <div class="row text-right flex-column flex-md-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <ul class="location-nav navbar">
            <li *ngFor="let i of nav"
                [class.active]="activeFilterCheck(i.id)"
                (click)="onFilter(i)">
              <div class="picture">
                <img src="assets/images/{{i.icon}}.png" alt="shield">
                <span>{{i.title}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="container">
      <div class="row ">
        <div class="col-8">
          <p>Last updated: <strong>21.05.2023</strong></p>
        </div>
        <div class="col text-right">
          <p>Items: <strong>{{markers.length}}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout">
    <button (click)="onToggleLayout()" class="zoom__btn zoom__btn_in">
      <img src="../../../assets/icons/list-task.svg" alt="" *ngIf="isMap">
      <img src="../../../assets/icons/pin-map.svg" alt="" *ngIf="!isMap">
    </button>
  </div>

  <div class="zoom" *ngIf="isMap">
    <button (click)="zoomIn()" class="zoom__btn zoom__btn_in">
      <img src="../../../assets/icons/plus.svg" alt="">
    </button>
    <button (click)="zoomOut()" class="zoom__btn zoom__btn_out">
      <img src="../../../assets/icons/minus.svg" alt="">
    </button>
  </div>

  <div class="locations"
       *ngIf="!isMap"
       [style.height]="height">
    <ul class="locations__list">
      <li *ngFor="let marker of markers" class="locations-item">
        <p class="locations-item__title" [routerLink]="'../location/' + marker.name">{{marker.title}}</p>
        <div class="locations-item__actions">
          <a [href]="marker.direction" class="locations-item__action locations-item__action-outline" target="_blank">
            <img src="../../../assets/icons/signpost-split.svg" alt="">
          </a>
          <a *ngIf="marker.reflink" [href]="marker.reflink" class="locations-item__action locations-item__action-outline" target="_blank">
            <img src="../../../assets/icons/ticket-perforated.svg" alt="">
          </a>
        </div>
      </li>
    </ul>
  </div>

  <ng-container *ngIf="isMap">
    <google-map
      [height]="height"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
      <map-marker
        #somemarker="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(somemarker, marker)"
      ></map-marker>
      <map-info-window>
        <div *ngIf="infoContent && infoContent.title">
          <!--<p>Booking</p>
          <p>Need a ticket to surf?</p>
          <p>Tap here to book the wave closest to you: <strong>Surf Poel!</strong></p>
          <p>Purchase a ticket and surf.</p>-->

          <!--<p class="marker__label">Getting there</p>-->
          <p class="marker__title">
            Heading to
            <strong [routerLink]="'../location/' + infoContent.name">{{infoContent.title}}</strong>
            today?
          </p>
          <!--<p class="marker__label">Tap here to get directions</p>-->
          <a [href]="infoContent.direction" class="marker__action" target="_blank">GET DIRECTIONS</a>
          <a *ngIf="infoContent.reflink" [href]="infoContent.reflink" class="marker__action marker__action-outline" target="_blank">BOOK NOW</a>
        </div>
      </map-info-window>

      <!--
        CHANGE TICKETS
        Need to change your ticket ?
        Tap here to change your ticket to the Surf Poel!
        CHANGE PURCHASED TICKETS
      -->

      <!--
        DID YOU KNOW
        <Title news article>
        <Article excerpt,  4 lines>
        FIND OUT MORE
      -->

      <!--
        GETTING THERE
        Heading to Surf Poel today?
        Tap here to get directions
        GET DIRECTIONS
      -->
    </google-map>
  </ng-container>
</div>

<ng-template #bookingModal>
  <div class="modal-body text-center popup">
    <p class="popup__title">Booking</p>
    <p class="popup__text">Need a ticket to surf?</p>
    <p class="popup__text popup__text-bold">
      This is the closest open wave to You:
      <strong *ngIf="nearestLocation?.title"
              (click)="goToNearestLocation(nearestLocation.name)"
      >
        {{nearestLocation.title}}
      </strong>
    </p>

    <a [href]="nearestLocation.direction" class="marker__action popup__button" target="_blank">GET DIRECTIONS</a>
    <a [href]="nearestLocation.reflink" class="marker__action marker__action-outline" target="_blank">BOOK NOW</a>

    <p class="popup__text">Purchase a ticket and surf!</p>

    <button class="popup__close" (click)="closeModal()">✕</button>
  </div>
</ng-template>
