.page {
  padding: 0 !important;
}
.control-panel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0;
  background: rgba(0, 0, 0, .1);
  padding: 51px 15px 0;
  &__inner{
    display: flex;
    justify-content: flex-end;
  }
  .zoom{
    display: flex;
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: #008bb2;
      border-radius: 5px;
      margin: 2px;
      img{
        width: 45px;
      }
    }
  }
  .search{
    margin: 2px 15px;
    position: relative;
    img{
      position: absolute;
      left: 12px;
      top: 12px;
      width: 20px;
    }
    input{
      padding-left: 45px;
      height: 45px;
      border-radius: 5px;
      font-size: 16px;
      border: solid 1px #008bb2;
      color: #008bb2;
      background: #f6f6f6;
    }
  }
}
.location-nav{
  width: 100%;
  margin: 0;
  z-index: 2;
  padding: 0 !important;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: solid 5px transparent;
    padding-bottom: 10px;
    &.active{
      border-color: #008bb2;
    }
    &:nth-child(1),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(10) {
      .picture{
        span{
          color: #008bb2;
        }
      }
    }
    .picture {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .nav-link {
      color: #fff;
    }
    img {
      width: 45px;
      height: auto;
    }
  }
}

.details{
  background: #008bb2;
  padding: 10px 0;
  p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
  }
  .text-right {
    margin-right: 2px;
  }
}
@media all and (max-width: 768px){
  .location-nav{
    li{
      img{
        width: 25px;
      }
      .picture{
        span{
          font-size: 12px;
        }
      }
    }
  }
}

.marker{
  &__label{
    font-size: 14px;
    margin-bottom: 5px;
    color: #c2a026;
  }
  &__title{
    font-size: 16px;
    margin: 10px 0 10px;
    font-weight: 600;
    color: #0b4871;
    max-width: 320px;
    line-height: 18px;
    strong{
      cursor: pointer;
      font-weight: 600;
      color: #008bb2;
    }
  }
  &__action{
    font-weight: 600;
    height: 29px;
    text-decoration: none;
    background: #008bb2;
    padding: 8px 16px;
    display: inline-block;
    color: #fff;
    border-radius: 7px;
    font-size: 13px;
    margin: 0;
    box-sizing: border-box;

    &-outline {
      background: transparent;
      border: 2px #008bb2 solid;
      padding: 7px 15px;
      color: #008bb2;
      margin-left: 12px;
    }
  }
}

::ng-deep {
  .popup {
    position: relative;
    &__title {
      font-size: 16px;
      margin: 10px 0 10px;
      font-weight: 600;
      color: #0b4871;
      line-height: 18px;
    }
    &__text {
      &-bold {
        font-weight: 600;
      }
      strong {
        cursor: pointer;
        color: #008bb2;
      }
    }
    &__close {
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      margin: 16px;
      line-height: 1;
    }
  }
}
