.hero{
  height: calc(100vh - 206px);
  background: url("../../../assets/images/bg-1.png") no-repeat center;
  background-size: cover;
}
.page{
  padding-bottom: 0;
}
.page{
  &__content{
    //padding: 0;
    h1{
      font-size: 2.5rem;
      font-weight: 800;
      padding: 0;
      margin: 20px 0;
    }
    h3{
      font-size: 1.3rem;
      padding: 0;
      margin: 50px 0 15px;
      font-weight: 600;
      color: #008bb2;
      text-transform: uppercase;
      &:first-child{
        margin-top: 0;
      }
    }
    ol {
      counter-reset: section;
    }
    p, li{
      font-size: 1.1rem;
      line-height: 1.4;
      margin-bottom: 10px;
      opacity: .6;
    }
    li {
      opacity: 1;
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;

      &::before {
        counter-increment: section;
        content: counter(section) ". ";
        opacity: .6;
      }
      //list-style: disc;
      p {
        opacity: .6;
        margin: 0;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 35px;
          height: auto;
        }
        span {
          position: absolute;
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          //color: #008bb2;;

          /*&:nth-of-type(1) {
            color: #008bb2;
          }*/
        }
      }
      &:nth-of-type(1), &:nth-of-type(6), &:nth-of-type(9), &:nth-of-type(10) {
        div {
          span {
            color: #008bb2;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .hero {
    display: none;
    height: calc(100vh - 171px);
  }

  .page__content {
    margin: 60px 0 0;
    h3{
      font-size: 15px;
      margin: -30px 0px 20px !important;
      text-align: right;
    }
    ol {
      padding-left: 0 !important;
    }
  }

}
