<app-header></app-header>
<app-loader *ngIf="!technology && isLoading"></app-loader>
<div *ngIf="technology" class="page">
  <div class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <p class="hero__title">{{technology.title}}</p><!--
          <p class="hero__sub-title">{{manufacturer.excerpt}}</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--
                <div class="page__content" [innerHTML]="manufacturer.content.length < manufacturer.excerpt.length ? manufacturer.excerpt : manufacturer.content"></div>
        -->
        <div *ngIf="technology.content" class="section">
          <!--<h2 class="section__title">About {{manufacturer.title}}</h2>-->
         <div class="d-flex flex-column gap-5">
           <div class="section__text" *ngIf="technology.excerpt" [innerHTML]="parserService.replaceURLs(technology.excerpt) | safe: 'html'"></div>
           <div class="section__text" *ngIf="technology.content" [innerHTML]="parserService.replaceURLs(technology.content) | safe: 'html'"></div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
