<app-loader *ngIf="!product"></app-loader>
<div *ngIf="product" class="page">
  <div class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <p class="hero__title">{{product.title}}</p><!--
          <p class="hero__sub-title">{{manufacturer.excerpt}}</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--
                <div class="page__content" [innerHTML]="manufacturer.content.length < manufacturer.excerpt.length ? manufacturer.excerpt : manufacturer.content"></div>
        -->
        <div *ngIf="product.content || product.exerpt || product.manufacturer_url" class="section">
          <!--<h2 class="section__title">About {{manufacturer.title}}</h2>-->
          <div class="d-flex flex-column gap-5">
            <div class="section__text" *ngIf="product.excerpt" [innerHTML]="parserService.replaceURLs(product.excerpt) | safe: 'html'"></div>
            <div class="section__text" *ngIf="product.content" [innerHTML]="parserService.replaceURLs(product.content) | safe: 'html'"></div>

            <div class="section__text" *ngIf="product.manufacturer_url" [innerHTML]="parserService.replaceURLs(product.manufacturer_url) | safe: 'html'"></div>
            <a class="section__text flex-row justify-content-start" *ngIf="product.manufacturer">
              More about manufacturer <strong (click)="goTo('manufactures', product.manufacturer)">here</strong>
            </a>
            <a class="section__text flex-row justify-content-start" *ngIf="product.technology_type">
              More about technology <strong (click)="goTo('technologies', product.technology_type)">here</strong>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
