*{
  font-family: "Fivo-sans", sans-serif;
}
html,
body,
ul,
li,
a,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 16px;
  line-height: 1;

  scroll-behavior: smooth;

  color: #3b3331;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.page{
  position: relative;
  padding-bottom: 60px;
  min-height: calc(100vh - 206px);
  &__header{
    min-height: 50vh;
  }
  &__title{
    text-transform: uppercase;
    margin: 60px 0 30px;
    font-size: 24px;
    font-weight: 600;
    color: #008bb2;
  }
  &__content{
    margin: 60px 0;
    font-size: 18px;
    line-height: 32px;
    color: #00566f;
  }
}

.hero{
  background: #008bb2;
  background-size: cover !important;
  position: relative;
  padding: 0;
  &:before{
    content: "";
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &>* {
    position: relative;
    z-index: 2;
  }
  .row{
    height: calc(100vh - 303px);
  }
  &__title{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    padding: 0;
    margin-bottom: 10px;
  }
  &__sub-title{
    font-size: 1.3rem;
    line-height: 1.3;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
  }
}
.text-right{
  text-align: right;
}

@media all and (max-width: 768px) {
  .header .dropdown.open {
    z-index: 999 !important;
    transform: none !important;
    position: fixed !important;
    right: 0 !important;
    top: 60px !important;
    left: 0 !important;
    width: 100%;
    border-radius: 0;
  }
  .table-wrapper{
    max-height: calc(100vh - 297px);
    overflow: auto;
  }
  .hero{
    display: none;
  }
  .location-nav{
    li{
      img{
        width: 25px;
      }
      .picture{
        span{
          font-size: 12px;
        }
      }
    }
  }
  .page {
    min-height: calc(var(--vh, 1vh) * 100 - 171px);
  }
  .page__navigation .col:first-child {
    display: none;
  }
  .table-striped {
    tr{
      vertical-align: middle;
      th{
        font-size: 12px;
        min-width: 65px;
      }
      td{
        padding: 3px !important;
        vertical-align: middle;
        img{
          position: absolute;
          right: 0 !important;
          top: 0 !important;
        }
        span {
          font-size: 13px !important;
          padding: 0 !important;
          line-height: 15px !important;
          display: inline-block;
        }
      }
    }
  }
}
.youtube{
  margin: 15px 0;
}
typeahead-container{
  right: 0 !important;
  left: initial !important;
  .dropdown-item{
    h5{
      margin: 0;
    }
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #0b7593;
    h5{
      color: #fff;
    }
  }
}
.gm-style .gm-style-iw-c {
  max-width: calc(100vw - 30px) !important;
  margin-left: -5px;
}
a { outline: none !important; }
.mobile-version{
  display: none !important;
}
.desktop-version{}

.affiliate-za {
  display: inline-block;
  background: #6aa511;
  font-size: 0 !important;
  width: 12px;
  height: 12px;
  translate: 8px 8px;
  border-radius: 50px;
  border: solid 1px #fff;
}
#f-11{
  &:before {
    content: '';
    display: inline-block;
    background: #6aa511;
    font-size: 0 !important;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: solid 1px #fff;
    position: absolute;
    bottom: 2px;
    right: 4px;
  }
  span{
    color: #008bb2;
    font-size: 38px;
    line-height: 1px;
    margin-top: -6px;
  }
}

@media all and (max-width: 768px){
  .d-none-mobile{
    display: none !important;
  }
  .mobile-version{
    display: block !important;
  }
  .desktop-version{
    display: none !important;
  }
  #f-11{
    &:before {
      content: '';
      display: inline-block;
      background: #6aa511;
      font-size: 0 !important;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      border: solid 1px #fff;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    span{
      color: #008bb2;
      font-size: 21px;
      line-height: 1px;
      margin-top: -4px;
    }
  }
}
